<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quien Soy?</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="icon" href="/public/images/favicon.png" type="image/png">
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
  </script>
</head>
