.blurCardName {
  filter: blur(6px);
  transition: filter 0.4s;
}

.blurCardName.revealed {
  filter: blur(0);
}

.strip {
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

.crossfade-enter {
  opacity: 0;
}

.crossfade-enter-active {
  opacity: 1;
  transition: opacity 0.6s ease-in;
}

.crossfade-exit {
  opacity: 1;
}

.crossfade-exit-active {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
